@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

:root {
  --primary-color: #bc4123;
  --secondary-color: #121212;
}

body {
  margin: 0;
  padding: 20px;
  font-family: 'Poppins', sans-serif;

  color: #fff; /* Change color to white */
}

/* Remove margin and background-color from "*" selector */
* {
  box-sizing: border-box;
  /* background-color: cornsilk; */
}

/* Styles for desktop screens */
@media only screen and (min-width: 768px) {
  /* Add your desktop styles here */
}

/* Styles for tablet screens */
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .homepage-image {
    max-width: 100%; /* Full width on mobile devices */
  }
  /* Add your tablet styles here */
}

/* Styles for mobile screens */
@media only screen and (max-width: 479px) {
  /* Add your mobile styles here */
}

.homepage-image {
  width: 50%;
  max-width: 430px; /* Set maximum width to avoid stretching on larger screens */
  height: 430px;
  object-fit: cover; /* Crop image to fill container, while maintaining aspect ratio */
}
img{
  height: 150px;
  width: 150px;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* navbar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  max-width: 1200px;
  margin: 0 auto;
  background-color: green;
  color: #fff;
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid black;
}
header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  color: #fff;
  margin: 0 10px;
}
header nav a.active {
  /* var(--primary) */
  background: ;
  font-weight: bold;
}

/* page content */
main {
  max-width: 1200px;
  margin: 40px auto;
}

/* help layout */
.help-layout nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}
.help-layout nav a{
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}
.help-layout nav a:hover{
  border-color: var(--primary);
}
.help-layout nav a.active {
  background: var(--primary);
}

/* faq */
.faq .question {
  background: rgba(0,0,0,0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* contact form */
form {
  margin-top: 30px;
}
form input, form label span, form textarea {
  display: block;
}
form input, form textarea {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  width: 300px;
  color: var(--secondary);
}
form label span {
  margin-bottom: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background-color: #f8f8f8;
}

.center img {
  width: 400px;
  height: 400px;
  border-radius: 10px;
}


.page-image {
  background-color: #f2f2f2;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  /* margin-bottom: */
}
/* careers list */


/* careers details */


/* breadcrumbs */